<header class="post-header">
    <h2 class="post-title"><%= title %></h2>
    <p class="post-meta">
        <%= date %> | <%= author %><% if tags && !tags.empty? %> | <% tags.each do |tag| %><a href="/tags/<%= tag.downcase.gsub(' ', '-') %>/index.html"><%= tag %></a><%= tag == tags.last ? '' : ', ' %><% end %><% end %>
    </p>
</header>

<!-- A single blog post -->
<section class="post">
  <div class="post-content">
      <%= yield %>
  </div>
</section>

<footer class="post-footer">
    <nav class="post-nav">
        <% if prev_post %>
        <a class="post-nav-prev" href="<%= prev_post %>">
            &larr; <%= prev_post_title %>
        </a>
        <% end %>
        <% if next_post %>
        <a class="post-nav-next" href="<%= next_post %>">
            <%= next_post_title %> &rarr;
        </a>
        <% end %>
    </nav>
</footer>
